.DS_Store
.vscode
.ipynb_checkpoints
__pycache__
tempCodeRunnerFile.py
Breast Histopathology Images/data/*
!Breast Histopathology Images/data/content.txt
log/
Breast Histopathology Images/padded/*
Breast Histopathology Images/resized/*